<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="onClickDeleteCounterFabButton()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="onClickAddCounterFabButton()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let counter of counterList">
      <ion-col size-xs="12" size-md="6" size-lg="4">
       <app-CounterCard [title]="counter.title" [count]="counter.count"></app-CounterCard>
      </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid> 
  <app-conterDeleteModal [counterList]="counterList" [isDeleteModalOpen]="isDeleteModalOpen" (cancelEvent)="canceldeleteModal()" (deleteCounterEvent)="deleteCounter($event)"></app-conterDeleteModal>
</ion-content>